<main>
  <section class="slice slice-xl bg-primary bg-cover bg-size--contain" style="">
  </section>

  <section class="slice pt-0">
    <div class="container">
      <h2 class="text-center mb-5">Find recipes for your best friend</h2>
      <form class="row justify-content-center">
        <div class="col-lg-7">
          <div class="input-group input-group-lg">
            <input type="text" id="js_search" class="form-control" placeholder="Search for...">
            <div class="input-group-append">
              <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-search mr-3"></i> Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
