.bg-cover {
  background-image: asset-url("clouds-background.png");
  background-position: 50% 0;
  background-repeat: repeat-x !important;
  padding-top: 8rem !important;
}

.no-wrap {
  white-space: nowrap;
}
